In [1]:
import pandas as pd

In [8]:
t1 = pd.read_csv('./0.7571.csv', names=['id', 'score'])
t2 = pd.read_csv('./0.7560.csv', names=['id', 'score'])

In [9]:
t1.head(10)

   id     score
0   1  0.505246
1   2  0.442528
2   3  0.139641
3   4  0.066208
4   5  0.160054
5   6  0.051218
6   7  0.048391
7   8  0.067022
8   9  0.122331
9  10  0.136920

In [6]:
t1.columns

Int64Index([0, 1], dtype='int64')

In [10]:
t3 = t1[['id', 'score']]

In [11]:
t3['score'] = (t1['score'] + t2['score']) / 2

In [12]:
t3.head(10)

   id     score
0   1  0.427072
1   2  0.488527
2   3  0.137698
3   4  0.058115
4   5  0.148196
5   6  0.041481
6   7  0.070643
7   8  0.091615
8   9  0.114998
9  10  0.150208

In [13]:
t3.to_csv(r'./average.csv', header=False, index=False)